h1 {
  color: brown;
  padding: 30px;
  padding-top: 75px;
  font-weight: 1000;
  font-size: 40px;
}

h2 {
  text-decoration: underline;
  font-size: 50px;
}


main {
  border-top: 1px solid #bbb;
}

main {
  display: flex;
}

.music {
  flex-grow: 1;
  padding: 30px;
}

.worry {
  flex-grow: 1;
  padding: 30px;
}

.sleep {
  flex-grow: 1;
  padding: 30px;
}