h1 {
  color: brown;
  margin: 0;
  padding-top: 75px;
  font-weight: 1000;
  font-size: 30px;
}

h2 {
  text-decoration: underline;
  font-size: 30px;
}


main {
  border-top: 1px solid #bbb;
}

main {
  display: flex;
}

.music {
  flex-grow: 1;
  margin: 20px;
}

.worry {
  flex-grow: 1;
  margin: 20px;
}

.sleep {
  flex-grow: 1;
  margin: 20px;
}