h1 {
  color: brown;
  box-sizing: border-box;
  padding: 30px;
  padding-top: 100px;
  font-weight: 1000;
  font-size: 50px;
}

h2 {
  text-decoration: underline;
}

.pa {
  font-size: 20pxpx;

}

main {
  display: flex;
}

main {
  padding: 25px;
}
