h1 {
  color: brown;
  box-sizing: border-box;
  padding: 30px;
  padding-top: 100px;
  font-weight: 1000;
  font-size: 50px;
}

h2 {
  text-decoration: underline;
}


.flex {
  display: flex;
}

.flex-1 {
  flex-grow: 1;
  padding: 30px;
}

.flex-2 {
  flex-grow: 1;
  padding: 30px;
}

.flex-3 {
  flex-grow: 1;
  padding: 30px;
}