* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: hsl(350, 100%, 88%);
  font-size: 30px;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  height: 75px;
  background-color: plum;
}

.name {
  float: left;
}

.name {
  color: blueviolet;
  font-weight: 900;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
}

.links {
  float: right;
  font-size: 50px;
}

.links {
  font-weight: 900;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  width: 250px;
  height: 250px;
}

footer .la {
  width: 50px;
  height: 50px;
}

footer {
  box-sizing: border-box;
  position: fixed;
  background-color: plum;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}